In [3]:
import pandas as pd
# 由於csv檔內有python無法讀出之語言UFT-8

## 先界定檔案所使用之語言
import chardet
with open("data.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'Big5', 'confidence': 0.99, 'language': 'Chinese'}

In [4]:
## 讓pd讀檔並切換語言參數
data = pd.read_csv("data.csv",encoding = "Big5")
data.head() #test

          學號 性別 分發宿舍  分發寢室  分發床號
0  40909026E  女  女一舍  5111     3
1  40920120L  女  女一舍  5111     4
2  40820124L  女  女一舍  5112     2
3  40826013L  女  女一舍  5112     3
4  40707218E  女  女一舍  5113     3

In [25]:
##老師示範如何和集
data[ (data["分發床號"] == 3) & (data["分發宿舍"] == "女一舍") ]

            學號 性別 分發宿舍  分發寢室  分發床號
0    40909026E  女  女一舍  5111     3
3    40826013L  女  女一舍  5112     3
4    40707218E  女  女一舍  5113     3
7    40830043A  女  女一舍  5116     3
11   40957004O  女  女一舍  5118     3
..         ... ..  ...   ...   ...
875  40806132E  女  女一舍  5421     3
881  41022061L  女  女一舍  5422     3
887  40884250I  女  女一舍  5423     3
893  41060031T  女  女一舍  5430     3
899  41005027E  女  女一舍  5447     3

[154 rows x 5 columns]

In [30]:
##嘗試出入學號找出
s = str.upper(input("請輸入學號"))
data[data["學號"] == s]

請輸入學號41071205h

            學號 性別 分發宿舍  分發寢室  分發床號
317  41071205H  女  女一舍  5230     3

0       False
1       False
2       False
3       False
4       False
        ...
3093    False
3094    False
3095    False
3096    False
3097    False
Length: 3098, dtype: bool

False

pandas.core.series.Series

請輸入學號41071205H

請輸入學號41071205H