In [22]:
import pandas as pd
#由於csv檔內有python無法讀出之語言UFT-8

##先界定檔案所使用之語言
import chardet
with open("data.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'Big5', 'confidence': 0.99, 'language': 'Chinese'}

In [26]:
##讓pd讀檔並切換語言參數
data = pd.read_csv("data.csv",encoding = "Big5")
data.head() #test

          學號 性別 分發宿舍  分發寢室  分發床號
0  40909026E  女  女一舍  5111     3
1  40920120L  女  女一舍  5111     4
2  40820124L  女  女一舍  5112     2
3  40826013L  女  女一舍  5112     3
4  40707218E  女  女一舍  5113     3