In [4]:
#例題
str1 = "將所得稅法第111條第2項所定之罰鍰1500元，依罰金罰鍰提高標準條例第1條、第3條之規定提高五倍為罰鍰7500元"

In [5]:
print(str1)

將所得稅法第111條第2項所定之罰鍰1500元，依罰金罰鍰提高標準條例第1條、第3條之規定提高五倍為罰鍰7500元

In [6]:
money = 1500
r = 5
total_money = money*r

In [7]:
print(total_money)

7500

In [8]:
print("總罰鍰為",total_money,"元")

總罰鍰為 7500 元

In [9]:
#練習一
str2 = "總判賠金額為25688，判賠比例為被告七成、原告三成"

In [10]:
t_money = 25688
b_money = t_money*0.7  #被告
r_money = t_money*0.3  #原告

In [13]:
print("被告須繳罰金為",int(b_money),"元")
print("原告需繳罰金為",int(r_money),"元")

被告須繳罰金為 17981 元
原告需繳罰金為 7706 元

In [14]:
#練習二
str3 = "被告應付原告違約金11805元，利息以日利息複利0.0005計算，從判賠日1/19到3/19付款日，被告函違約金和利息應給原告多少"
print(str3)

被告應付原告違約金1805元，利息以日利息0.0005計算，從判賠日1/19到3/19付款日，被告函違約金和利息應給原告多少

In [25]:
rmoney = 11805
R = 0.0005
days = 59
month = 2
monthr = ((1 + month)*1/2)*150
tmoney = rmoney*(1 + 0.0005*days) + monthr
print("被告應給原告",int(tmoney),"元")

被告應給原告 12378 元

In [ ]:
#練習三
str4 = "輸入被告闖紅燈、原告闖紅燈、被告原告接闖紅燈，並顯示出各項判例判賠比例"
print(str4)

In [13]:
event = input("請出入狀況：")

if event == "被告闖紅燈":
    print("被告賠100%")
elif event == "原告闖紅燈":
    print("原告多被告少")
elif event == "被告原告皆闖紅燈":
    print("原告與被告各50%")
else :
        print("請填入有效信息")

請出入狀況：原告闖紅燈
原告多被告少

In [20]:
# 練習篩選列表
import pandas as pd
data = pd.read_csv("data.csv")
data.head()

     學號\t性別\t分發宿舍\t分發寢室\t分發床號
0  40909026E\t女\t女一舍\t5111\t3
1  40920120L\t女\t女一舍\t5111\t4
2  40820124L\t女\t女一舍\t5112\t2
3  40826013L\t女\t女一舍\t5112\t3
4  40707218E\t女\t女一舍\t5113\t3

導入分發寢室和所有學號，並輸入使用者學號

In [11]:
sub = input("請輸入學號？")

          學號
0  40909026E
1  40920120L
2  40820124L
3  40826013L
4  40707218E

In [9]:
roomnumber.tail()

       分發寢室
3093  70630
3094  70714
3095  70714
3096  70714
3097  70714