In [2]:
### 作業錯誤小提醒：注意資料的形式
import pandas as pd
# 由於csv檔內有python無法讀出之語言UFT-8

## 先界定檔案所使用之語言
import chardet
with open("data.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'Big5', 'confidence': 0.99, 'language': 'Chinese'}

In [3]:
## 讓pd讀檔並切換語言參數
data = pd.read_csv("data.csv",encoding = "Big5")
data.head() #test

          學號 性別 分發宿舍  分發寢室  分發床號
0  40909026E  女  女一舍  5111     3
1  40920120L  女  女一舍  5111     4
2  40820124L  女  女一舍  5112     2
3  40826013L  女  女一舍  5112     3
4  40707218E  女  女一舍  5113     3

In [4]:
##老師示範如何和集
data[ (data["分發床號"] == 3) & (data["分發宿舍"] == "女一舍") ]

            學號 性別 分發宿舍  分發寢室  分發床號
0    40909026E  女  女一舍  5111     3
3    40826013L  女  女一舍  5112     3
4    40707218E  女  女一舍  5113     3
7    40830043A  女  女一舍  5116     3
11   40957004O  女  女一舍  5118     3
..         ... ..  ...   ...   ...
875  40806132E  女  女一舍  5421     3
881  41022061L  女  女一舍  5422     3
887  40884250I  女  女一舍  5423     3
893  41060031T  女  女一舍  5430     3
899  41005027E  女  女一舍  5447     3

[154 rows x 5 columns]

In [6]:
##嘗試出入學號找出寢室
s = str.upper(input("請輸入學號")) ## 讓輸入學號尾字統一變大寫，以符合資料
data[data["學號"] == s]

請輸入學號41005027E

            學號 性別 分發宿舍  分發寢室  分發床號
899  41005027E  女  女一舍  5447     3

In [39]:
data[ (data["分發床號"] == 3) | (data["分發床號"] == 4) ] ##聯集，所有女一舍3、4號床之住宿生
##用dataframe去判斷布林值，印出兩者都是true的值

             學號 性別 分發宿舍   分發寢室  分發床號
0     40909026E  女  女一舍   5111     3
1     40920120L  女  女一舍   5111     4
3     40826013L  女  女一舍   5112     3
4     40707218E  女  女一舍   5113     3
7     40830043A  女  女一舍   5116     3
...         ... ..  ...    ...   ...
3089  40940110S  男  學七舍  70629     4
3092  41040317S  男  學七舍  70630     3
3093  41040113S  男  學七舍  70630     4
3096  40740313S  男  學七舍  70714     3
3097  40640213S  男  學七舍  70714     4

[1163 rows x 5 columns]

In [50]:
data[ (data["分發宿舍"] == "學七舍") ^ (data["性別"] == "女")]##對稱差集，排除學七舍女住宿生

             學號 性別 分發宿舍   分發寢室  分發床號
0     40909026E  女  女一舍   5111     3
1     40920120L  女  女一舍   5111     4
2     40820124L  女  女一舍   5112     2
3     40826013L  女  女一舍   5112     3
4     40707218E  女  女一舍   5113     3
...         ... ..  ...    ...   ...
3093  41040113S  男  學七舍  70630     4
3094  41040304S  男  學七舍  70714     1
3095  41040311S  男  學七舍  70714     2
3096  40740313S  男  學七舍  70714     3
3097  40640213S  男  學七舍  70714     4

[1819 rows x 5 columns]

In [10]:
##"-"只能用在set
seven = data[(data["分發宿舍"] == "學七舍")]

In [11]:
girl = data[(data["性別"] == "女")]

In [23]:
diff = set(seven['學號'])-set(girl['學號'])##set只能放一種資料
diff = list(diff)##轉list才能變索引值回DATA找資料
diff

['41040304S',
 '40932027A',
 '41032057A',
 '41042115S',
 '40943214S',
 '41040307S',
 '40740313S',
 '41042122S',
 '40942203S',
 '40842205S',
 '41047023S',
 '40940128S',
 '40640213S',
 '40844043S',
 '41020132L',
 '41042141S',
 '41032042A',
 '41032077A',
 '41013029E',
 '41040320S',
 '40940330S',
 '41032037A',
 '41032058A',
 '41047027S',
 '40921118L',
 '40843211S',
 '40940129S',
 '41040114S',
 '41047056S',
 '40843213S',
 '41032029A',
 '40843212S',
 '40973052H',
 '41032902A',
 '41040113S',
 '41040214S',
 '40832059A',
 '41032049A',
 '40847048S',
 '41077008H',
 '41043215S',
 '41032016A',
 '40920220L',
 '41032045A',
 '40973049H',
 '41084262I',
 '40940227S',
 '41084902I',
 '40905044E',
 '40940111S',
 '41043220S',
 '40832005A',
 '40832069A',
 '40942222S',
 '40842239S',
 '40920316L',
 '41032014A',
 '41042244S',
 '41023232L',
 '41032068A',
 '40944028S',
 '40732048A',
 '41051017S',
 '41047901S',
 '40932033A',
 '41040316S',
 '41042217S',
 '40941223S',
 '41041232S',
 '40832066A',
 '41042206S',
 '41042215S',
 '41032011A',
 '40973033H',
 '40940219S',
 '40707148E',
 '40942140S',
 '41040216S',
 '40832036A',
 '40841116S',
 '40840307S',
 '41040205S',
 '41043210S',
 '40920223L',
 '41047055S',
 '41071124H',
 '40944011S',
 '40940203S',
 '40875046H',
 '40920219L',
 '40932037A',
 '41041211S',
 '41043114S',
 '40932026A',
 '40905036E',
 '41040133S',
 '41032015A',
 '41047024S',
 '40942218S',
 '40832053A',
 '41040311S',
 '41032056A',
 '40940114S',
 '41020118L',
 '41077007H',
 '41042107S',
 '40832080A',
 '40840315S',
 '41020317L',
 '40832078A',
 '41000217E',
 '40740212S',
 '41041101S',
 '41032001A',
 '41043212S',
 '40844041S',
 '40942205S',
 '41042143S',
 '41032053A',
 '40832034A',
 '40832049A',
 '40932043A',
 '40884123I',
 '41040310S',
 '41032041A',
 '41032067A',
 '40840316S',
 '41042240S',
 '41084260I',
 '41073102H',
 '41042102S',
 '41042225S',
 '40840215S',
 '40840231S',
 '40932018A',
 '41047038S',
 '41051029S',
 '41060027T',
 '40843103S',
 '40940110S',
 '40840310S',
 '41032031A',
 '40832060A',
 '40843226S',
 '41051036S',
 '40940117S',
 '40840126S',
 '40944040S',
 '41040317S',
 '40843113S']

In [24]:
data.set_index('學號').loc[diff]##將學號設為索引值再跟diff做比較

          性別 分發宿舍   分發寢室  分發床號
學號
41040304S  男  學七舍  70714     1
40932027A  男  學七舍  70416     3
41032057A  男  學七舍  70619     2
41042115S  男  學七舍  70619     3
40943214S  男  學七舍  70608     4
...       ..  ...    ...   ...
40940117S  男  學七舍  70629     2
40840126S  男  學七舍  70428     1
40944040S  男  學七舍  70617     1
41040317S  男  學七舍  70630     3
40843113S  男  學七舍  70623     2

[150 rows x 4 columns]