In [12]:
import pandas as pd
# 由於csv檔內有python無法讀出之語言UFT-8

## 先界定檔案所使用之語言
import chardet
with open("data.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'Big5', 'confidence': 0.99, 'language': 'Chinese'}

In [13]:
## 讓pd讀檔並切換語言參數
data = pd.read_csv("data.csv",encoding = "Big5")
data.head() #test

          學號 性別 分發宿舍  分發寢室  分發床號
0  40909026E  女  女一舍  5111     3
1  40920120L  女  女一舍  5111     4
2  40820124L  女  女一舍  5112     2
3  40826013L  女  女一舍  5112     3
4  40707218E  女  女一舍  5113     3

In [18]:
#製作寢室查詢器

## 分類資料
dormitory = data["分發宿舍"] 
student = data["學號"] 
gender = data["性別"] 
dormitory = data["分發宿舍"] 
room = data["分發寢室"] 
bed = data["分發床號"]

In [29]:
### 測試和集
filt = (bed == "3")&(dormitory == "女一舍")
print(filt)## 這是啥？沒有女一又三號床的？

False

In [48]:
## 輸入學號、設定大小寫
sub = input("請輸入學號")
sub = str.upper(sub)

請輸入學號41071205H
41071205H

In [52]:
## 輸入學號、設定大小寫
sub = input("請輸入學號")
sub = str.upper(sub)
n = 0
for sub in student:
    if sub == student:
        print(data.loc[n])
    else:
        n = n + 1

請輸入學號41071205H

TypeError: 'types.GenericAlias' object is not iterable