In [35]:
### 作業錯誤小提醒：注意資料的形式
import pandas as pd
# 由於csv檔內有python無法讀出之語言UFT-8

## 先界定檔案所使用之語言
import chardet
with open("data.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'Big5', 'confidence': 0.99, 'language': 'Chinese'}

In [36]:
## 讓pd讀檔並切換語言參數
data = pd.read_csv("data.csv",encoding = "Big5")
data.head() #test

          學號 性別 分發宿舍  分發寢室  分發床號
0  40909026E  女  女一舍  5111     3
1  40920120L  女  女一舍  5111     4
2  40820124L  女  女一舍  5112     2
3  40826013L  女  女一舍  5112     3
4  40707218E  女  女一舍  5113     3

In [37]:
##老師示範如何和集
data[ (data["分發床號"] == 3) & (data["分發宿舍"] == "女一舍") ]

            學號 性別 分發宿舍  分發寢室  分發床號
0    40909026E  女  女一舍  5111     3
3    40826013L  女  女一舍  5112     3
4    40707218E  女  女一舍  5113     3
7    40830043A  女  女一舍  5116     3
11   40957004O  女  女一舍  5118     3
..         ... ..  ...   ...   ...
875  40806132E  女  女一舍  5421     3
881  41022061L  女  女一舍  5422     3
887  40884250I  女  女一舍  5423     3
893  41060031T  女  女一舍  5430     3
899  41005027E  女  女一舍  5447     3

[154 rows x 5 columns]

In [38]:
##嘗試出入學號找出寢室
s = str.upper(input("請輸入學號")) ## 讓輸入學號尾字統一變大寫，以符合資料
data[data["學號"] == s]

In [39]:
data[ (data["分發床號"] == 3) | (data["分發床號"] == 4) ] ##聯集，所有女一舍3、4號床之住宿生

             學號 性別 分發宿舍   分發寢室  分發床號
0     40909026E  女  女一舍   5111     3
1     40920120L  女  女一舍   5111     4
3     40826013L  女  女一舍   5112     3
4     40707218E  女  女一舍   5113     3
7     40830043A  女  女一舍   5116     3
...         ... ..  ...    ...   ...
3089  40940110S  男  學七舍  70629     4
3092  41040317S  男  學七舍  70630     3
3093  41040113S  男  學七舍  70630     4
3096  40740313S  男  學七舍  70714     3
3097  40640213S  男  學七舍  70714     4

[1163 rows x 5 columns]

In [50]:
data[ (data["分發宿舍"] == "學七舍") ^ (data["性別"] == "女")]##對稱差集，排除學七舍女住宿生

             學號 性別 分發宿舍   分發寢室  分發床號
0     40909026E  女  女一舍   5111     3
1     40920120L  女  女一舍   5111     4
2     40820124L  女  女一舍   5112     2
3     40826013L  女  女一舍   5112     3
4     40707218E  女  女一舍   5113     3
...         ... ..  ...    ...   ...
3093  41040113S  男  學七舍  70630     4
3094  41040304S  男  學七舍  70714     1
3095  41040311S  男  學七舍  70714     2
3096  40740313S  男  學七舍  70714     3
3097  40640213S  男  學七舍  70714     4

[1819 rows x 5 columns]

In [53]:
data[(data["性別"] == "女") - (data["分發宿舍"] == "女一舍")] #為何無法插集

TypeError: numpy boolean subtract, the `-` operator, is not supported, use the bitwise_xor, the `^` operator, or the logical_xor function instead.